*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/AcmeMarket.zip
/app/src/test/java/es/us/acme/market/ExampleUnitTest.java
/.idea/
